div.form-group
  label(for='firstname') First Name:
  input#firstName.form-control(type='text', placeholder='first name', name='firstname')
div.form-group
  label(for='lastname') Last Name:
  input#lastName.form-control(type='text', placeholder='last name', name='lastname')
div.form-group
  label(for='email') Email:
  input#email.form-control(type='email', placeholder='name@email.com', name='email')
div.form-group
  label(for='password') Password:
  input#password.form-control(type='password', name='password')
div.form-group
  label(for='password2') Confirm Password:
  input#password2.form-control(type='password', name='confirmPassword')
input#userid(type='hidden' value='')
