nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  a.navbar-brand(href='/') Allergy Tracker
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/about') About
      li.nav-item
        a.nav-link(href='/resources') Resources
      li.nav-item
        a.nav-link(href='/contact') Contact
      li.nav-item
        a.nav-link(href='/faqs') FAQs
      if currentUser
        li.nav-item
          a.nav-link(href='/admin') Admin
        li.nav-item
          a.nav-item.nav-link(href='/profile') My Profile
    form.form-inline
      if !currentUser
        button.btn.btn-info.pull-md-right(type='/login') Log In
      else
        button.btn.btn-info.pull-md-right(type='/logoff') Log Off
