extends layout

block content
  .main.container.text-xs-center
    h1 Welcome to Allergy Tracker!
    h2 Read the latest news and information about allergies.
    a.btn(href='/signup') Click here to get started!
