extends layout

block content
  .main.container
    .row
      .col-xs-12.col-sm-8.offset-sm-2.col-lg-6.offset-lg-3
        h1.display-4.m-b-2 #{title}
        // Profile form
        form(id='add-user-form')
          legend#form-label Edit your profile information:
          div.form-group
            input#userName.form-control(type='hidden', placeholder='user name', name='username' value=user.userName)

          // Form fields:
          include includes/form

          button#form-submit.btn.btn-success(type='submit', onclick='submitUserForm()' ) Update
  