.main {
	padding:					20px;
}
.header {
	background:			Black;
	display:					flex;
	flex-wrap:				wrap;
	justify-content:	space-between;
	padding:					10px 5px;
	color:					White;
	font-weight:			bold;
}
.content {
	display:					flex;
	flex-wrap:				wrap;
	justify-content:	space-between;
	padding:					5px;
}
.content:nth-child(odd) {
	background:			 #CCC;
}
.flex1 {
	flex-basis:				100px;
	font-weight:			bold
}
.flex2,
.flex5 {
	flex-basis:				100px;
}
.flex6,
.flex7,
.flex8 {
	flex-basis:				50px;
}
.flex3,
.fles4 {
	flex-basis:				200px;
}
