/* =================================
  			Import normalize.css
	 ================================= */
@import url('http://necolas.github.io/normalize.css/3.0.2/normalize.css');

* {
	box-sizing: border-box;
}

/* =================================
						NavBar Styles
	 ================================= */
	 .form-inline {
	margin: .5em;
}

/* =================================
		Flexbox styles for Admin page
	 ================================= */
.main {
	padding:					0 20px;
}
.header {
	background:				Black;
	display:					flex;
	flex-wrap:				wrap;
	justify-content:	space-between;
	padding:					10px 5px;
	color:						White;
	font-weight:			bold;
}
.content {
	display:					flex;
	flex-wrap:				wrap;
	justify-content:	space-between;
	padding:					5px;
}
.content:nth-child(odd) {
	background:				#CCC;
}
.flex1 {
	flex-basis:				100px;
	font-weight:			bold
}
.flex2,
.flex3,
.flex5,
.flex6 {
	flex-basis:				100px;
}
.flex4 {
	flex-basis:				200px;
}
.flex7,
.flex8 {
	flex-basis:				125px;
}
